html {
  scroll-behavior: smooth;
}

body {
  font-family: $fontText;
  letter-spacing: 1.4;
  background-color: var(--theme-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
