@font-face {
  font-family: 'Comfortaa-Regular';
  src: url(./../fonts/Comfortaa-Regular.ttf) format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'RubikMicrobe-Regular';
  src: url(./../fonts/RubikMicrobe-Regular.ttf) format('ttf');
  font-weight: 400;
}
