.section {
  width: 100%;
  height: auto;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: url(./../images/configuration.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 12%;
  &::after {
    content: '';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 20px;
    background-color: var(--bg-color);
    border-radius: 8px;
    color: var(--additional-color);
    top: 60px;
    right: 0;
  }
}

.hero__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;

  &__title {
    color: var(--accent-color);
    font-size: 65px;
    margin-bottom: 30px;
  }

  &__text {
    font-weight: 400;
    color: var(--text-color);
    font-size: 32px;
  }
}
